SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
DB_HOST=localhost
DB_NAME=eld_planner
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
OPENROUTESERVICE_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjMzN2M4ZDg4Yzk2ZDQ2MzZhN2ZmNGNhOWFiODIwY2FkIiwiaCI6Im11cm11cjY0In0=