Django==6.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.11
python-decouple==3.8
django-cors-headers==4.9.0
drf-spectacular==0.29.0
gunicorn==21.2.0
requests==2.32.3
redis==5.2.1
celery==5.4.0
django-redis==5.4.0
flower==2.0.1
django-celery-beat==2.7.0
django-celery-results==2.6.0